version: '3.3'
services:
  asterisk:
    image: ghostdial/asterisk
    build:
      context: ./services/asterisk
      dockerfile: Dockerfile
    ports:
      - 127.0.0.1:8088:8088
      - 35061:35061/tcp
      - 30000-30099:30000-30099/udp
    environment:
      - ASTERISK_UID=1010
      - ASTERISK_GID=7087
      - EXTERNIP=${EXTERNIP}
      - VOIPMS_SIP_USERNAME=${VOIPMS_SIP_USERNAME}
      - VOIPMS_SIP_PASSWORD=${VOIPMS_SIP_PASSWORD}
      - VOIPMS_SIP_PROTOCOL=${VOIPMS_SIP_PROTOCOL}
      - VOIPMS_SIP_HOST=${VOIPMS_SIP_HOST}
      - VOIPMS_SIP_PORT=${VOIPMS_SIP_PORT}
      - TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}
      - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
      - REDIS_URI=redis://redis:6379
      - DOMAIN=${DOMAIN}
      - CERTS_GID=7077
      - STUN_HOST=${STUN_HOST}
    volumes:
      - letsencrypt:/etc/letsencrypt
      - asterisk:/etc/asterisk
      - spool:/var/spool
      - logs:/var/log
    depends_on:
      - redis
    restart: unless-stopped
  fail2ban:
    image: ghostdial/fail2ban
    build:
      context: ./services/fail2ban
      dockerfile: Dockerfile
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: 'host'
    environment:
      - PUID=1000
      - PGID=7077
      - TZ=Etc/UTC
      - VERBOSITY=-vv
    volumes:
      - logs:/var/log
    restart: unless-stopped
  prosody:
    image: ghostdial/prosody
    build:
      context: ./services/prosody
      dockerfile: Dockerfile
    ports:
      - 5222:5222
      - 5223:5223
      - 5269:5269
      - 5347:5347
      - 5280:5280
      - 5281:5281
    environment:
      - CERTS_GID=7077
      - REDIS_URI=redis://redis:6379
      - DOMAIN=${DOMAIN}
      - ROOT_PASSWORD=${ROOT_PASSWORD}
    volumes:
      - letsencrypt:/etc/letsencrypt
      - logs:/usr/local/var/log
      - prosody:/usr/local/var/lib/prosody
    depends_on:
      - redis
    restart: unless-stopped
  certbot:
    image: certbot/certbot
    ports:
      - 80:80/tcp
    command: ["certonly", "--standalone", "--email", "${EMAIL}", "-d", "${DOMAIN}", "--agree-tos", "--no-eff-email"]
    environment:
      - CERTS_GID=7077
    volumes:
      - letsencrypt:/etc/letsencrypt
  redis:
    image: redis
    command: ["redis-server", "--save", "60", "1", "--loglevel", "warning"]
    volumes:
      - redis:/data
    restart: unless-stopped
  sms_pipeline:
    image: ghostdial/sms_pipeline
    build:
      context: ./services/sms_pipeline
      dockerfile: Dockerfile
    volumes:
      - sms_pipeline:/data
    environment:
      - VOIPMS_USERNAME=${VOIPMS_API_USERNAME}
      - VOIPMS_PASSWORD=${VOIPMS_API_PASSWORD}
      - TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}
      - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
      - GHOST_NUMBER=8008888080
      - SMS_SQLITE3_DATABASE=/data/sms.db
      - REDIS_URI=redis://redis:6379
    restart: unless-stopped
  rtt:
    image: ghostdial/rtt
    build:
      context: ./services/rtt
      dockerfile: Dockerfile
    ports:
      - 9998:9998
    environment:
      - RTP_HOST=rtt:9999
      - ARI_URI=http://asterisk:8088/ari
      - ARI_USERNAME=admin
      - ARI_PASSWORD=admin
      - REDIS_URI=redis://redis:6379
      - GOOGLE_APPLICATION_CREDENTIALS=/gcloud/serviceaccount.json
    volumes:
      - gcloud:/gcloud
    command: ["node", "bin/rtt-logger.js"]
    depends_on:
      - asterisk
    restart: unless-stopped
  dossi:
    image: ghostdial/dossi
    build:
      context: ./services/dossi
      dockerfile: Dockerfile
    environment:
      - DOMAIN=${DOMAIN}
      - REDIS_URI=redis://redis:6379
      - TWILIO_ACCOUNT_SID=${TWILIO_ACCOUNT_SID}
      - TWILIO_AUTH_TOKEN=${TWILIO_AUTH_TOKEN}
      - ROOT_PASSWORD=${ROOT_PASSWORD}
      - VOIPMS_USERNAME=${VOIPMS_API_USERNAME}
      - VOIPMS_PASSWORD=${VOIPMS_API_PASSWORD}
      - VOIPMS_SUBACCOUNT=${VOIPMS_SIP_USERNAME}
      - ENDATO_API_KEY=${ENDATO_API_KEY}
      - ENDATO_API_SECRET=${ENDATO_API_SECRET}
    volumes:
      - asterisk:/etc/asterisk
    restart: unless-stopped
  voicemail_pipeline:
    image: ghostdial/voicemail_pipeline
    build:
      context: ./services/voicemail_pipeline
      dockerfile: Dockerfile
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/gcloud/serviceaccount.json
      - DOMAIN=${DOMAIN}
      - ROOT_PASSWORD=${ROOT_PASSWORD}
      - VOICEMAIL_BUCKET=${VOICEMAIL_BUCKET}
    volumes:
      - asterisk:/etc/asterisk
      - spool:/var/spool
      - gcloud:/gcloud
      - prosody:/var/lib/prosody
    restart: unless-stopped
  postgres:
    image: postgres
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=matrix
      - POSTGRES_USER=matrix
      - POSTGRES_INITDB_ARGS=--encoding='UTF8' --lc-collate='C' --lc-ctype='C'
    restart: unless-stopped
  synapse:
    image: ghostdial/synapse
    build:
      dockerfile: Dockerfile
      context: ./services/synapse
    volumes:
      - synapse:/data
      - logs:/var/log
    environment:
      - SYNAPSE_SERVER_NAME=${DOMAIN}
      - SYNAPSE_REPORT_STATS=no
      - TURN_URI=${TURN_URI}
      - TURN_SHARED_SECRET=${TURN_SHARED_SECRET}
      - RECAPTCHA_PUBLIC_KEY=${RECAPTCHA_PUBLIC_KEY}
      - RECAPTCHA_PRIVATE_KEY=${RECAPTCHA_PRIVATE_KEY}
      - SYNAPSE_CONFIG_DIR=/data
      - SYNAPSE_DATA_DIR=/data
    depends_on:
      - postgres
    restart: unless-stopped
  nginx:
    image: ghostdial/nginx
    build:
      context: ./services/nginx
      dockerfile: Dockerfile
    volumes:
      - www-data:/usr/share/nginx/html
      - nginx:/config
      - logs:/var/log
      - letsencrypt:/etc/letsencrypt
    environment:
      - DOMAIN=${DOMAIN}
    ports:
      - 443:443
    depends_on:
      - synapse
      - vaultwarden
    restart: unless-stopped
  vaultwarden:
    image: vaultwarden/server:latest
    volumes:
      - vaultwarden:/data
      - logs:/var/log
    restart: unless-stopped
volumes:
  postgres:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/postgres
  synapse:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/synapse
  vaultwarden:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/vaultwarden
  www-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/www-data
  nginx:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/nginx
  redis:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/redis
  letsencrypt:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/letsencrypt
  asterisk:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/asterisk
  spool:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/spool
  prosody:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/prosody
  gcloud:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/gcloud
  sms_pipeline:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/sms_pipeline
  logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PROJECT_GHOST_DATABASE}/logs
